i.quick-contact-info.fas.fa-info-circle
    ul.contact-list
        li._item
            a._link(href="tel:9930 1234 5679")
                i._icon.fas.fa-phone-alt
                span._text 9930 1234 5679
        li._item
            a._link(href="mailto:contact@domain.com")
                i._icon.fas.fa-envelope
                span._text contact@domain.com
        li._item
            a._link(href="#")
                i._icon.fas.fa-home
                span._text street address example