header.header
    include burger/burger.pug
    .header--wrapper-inner
        include logo/logo.pug
        include navigation/navigation.pug
        include filter/filter.pug
        include social-icons/social-icons.pug
        include copyright/copyright.pug