ul.social-icons
    li._item
        a._link(href="#")
            i._icon.fab.fa-flickr
    li._item
        a._link(href="#")
            i._icon.fab.fa-google-plus-square
    li._item
        a._link(href="#")
            i._icon.fab.fa-twitter-square
    li._item
        a._link(href="#")
            i._icon.fab.fa-pinterest-square
    li._item
        a._link(href="#")
            i._icon.fab.fa-dribbble-square
    li._item
        a._link(href="#")
            i._icon.fab.fa-behance-square
    li._item
        a._link(href="#")
            i._icon.fab.fa-facebook-square