nav.navigation
    ul._list
        li._item
            a._link.-active(href="index.html") HOME
        li._item
            a._link(href="#") WORK
        li._item
            a._link(href="#") ABOUT
        li._item
            a._link(href="#") BLOG
        li._item
            a._link(href="#") SERVICES
        li._item
            a._link(href="#") CONTACT