doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="format-detection" content="telephone=no")

        title Kappe

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

        link(rel="stylesheet", href="./css/font-awesome.css")
        link(rel="stylesheet", href="./css/main.css")
    body
        .wrapper
            include header/header.pug
            include content/content.pug

        script(src="./js/libs/jquery-3.4.1.min.js")
        script(src="./js/libs/isotope.pkgd.3.0.6.min.js")
        script(src="./js/script.js")