ul.portfolio.content--wrapper-inner
    li._item.web-design(data-category="web-design")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.illustration(data-category="illustration")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.photography(data-category="photography")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.wallpapers(data-category="wallpapers")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.brochures(data-category=".brochures")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.web-design(data-category="web-design")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.illustration(data-category="illustration")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.photography(data-category="photography")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.wallpapers(data-category="wallpapers")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.brochures(data-category="brochures")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.web-design(data-category="web-design")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.illustration(data-category="illustration")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.photography(data-category="photography")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.wallpapers(data-category="wallpapers")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.brochures(data-category="brochures")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-even-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right
    li._item.web-design(data-category="web-design")
        .portfolio--wrapper-inner
            img.portfolio__img(src="./img/portfolio-odd-img.png", alt="Portfolio Item")
            .portfolio__info
                h4.portfolio__info--title Cool App Design
                p.portfolio__info--category development, mobile
                a.portfolio__info--link(href="#")
                    i.portfolio__info--icon.fas.fa-arrow-right