section.filter
    ._heading
        h5._title Filter
        i._icon.fas.fa-th-large
    ul._list.filter__group
        li._item
            a._link.-active(href="#" data-filter="*") All Works
        li._item
            a._link(href="#" data-filter=".web-design") web design
        li._item
            a._link(href="#" data-filter=".illustration") illustration
        li._item
            a._link(href="#" data-filter=".photography") photography
        li._item
            a._link(href="#" data-filter=".wallpapers") wallpapers
        li._item
            a._link(href="#" data-filter=".brochures") brochures