ul.blog.content--wrapper-inner
    li.gallery-post.-first._item.wallpapers(data-category="wallpapers")
        ul._carousel
            li.gallery-post__carousel--item
                .gallery-post__carousel--wrapper-inner
                    img.gallery-post__carousel--img(src="./img/blog-gallery-post-first.png", alt="Slide")
            li.gallery-post__carousel--item
                .gallery-post__carousel--wrapper-inner
                    img.gallery-post__carousel--img(src="./img/blog-gallery-post-first.png", alt="Slide")
        a._description(href="#")
            h6.gallery-post__description--title Gallery Post Example
            p.gallery-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
            ul.info.gallery-post__description--info
                li._comments
                    i.info__comments--icon.fas.fa-comment
                    p.info__comments--text 3 comments
                li._publication-date
                    i.info__publication-date--icon.far.fa-calendar-alt
                    p.info__publication-date--text Dec 19, 2013
    li.reference-post.-first._item.brochures(data-category=".brochures")
        h6._title Another Post where you can put a link to a specific website
        a._link http://www.themeforest.net
    li.image-post.-img._item.photography(data-category="photography")
        ._item
            .image-post--wrapper-inner
                img.image-post__img(src="./img/blog-image-post-img.png", alt="Image")
    li.quote-post.-first._item.brochures(data-category=".brochures")
        a._link(href="#")
            h4._text Logic will get you from A to B. Imagination will take you everywhere.
            p._autor Albert Einstein
    li.gallery-post.-second._item.wallpapers(data-category="wallpapers")
        ul._carousel
            li.gallery-post__carousel--item
                .gallery-post__carousel--wrapper-inner
                    img.gallery-post__carousel--img(src="./img/blog-gallery-post-second.png", alt="Slide")
            li.gallery-post__carousel--item
                .gallery-post__carousel--wrapper-inner
                    img.gallery-post__carousel--img(src="./img/blog-gallery-post-second.png", alt="Slide")
        a._description(href="#")
            h6.gallery-post__description--title Gallery Post Example
            p.gallery-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
            ul.info.gallery-post__description--info
                li._comments
                    i.info__comments--icon.fas.fa-comment
                    p.info__comments--text 3 comments
                li._publication-date
                    i.info__publication-date--icon.far.fa-calendar-alt
                    p.info__publication-date--text Dec 19, 2013
    li.image-post.-animation._item.photography(data-category="photography")
        ._item
            .image-post--wrapper-inner
                img.image-post__img(src="./img/blog-image-post-animation.png", alt="Animation")
                a.image-post__link(href="#")
                    i.image-post__icon.fas.fa-arrow-right
    li.video-post.-first._item.web-design(data-category="web-design")
        iframe._player(src="https://www.youtube-nocookie.com/embed/bHQqvYy5KYo", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        a._description(href="#")
            h6.video-post__description--title Self-hosted video post
            p.video-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
            ul.info.video-post__description--info
                li._comments
                    i.info__comments--icon.fas.fa-comment
                    p.info__comments--text 3 comments
                li._publication-date
                    i.info__publication-date--icon.far.fa-calendar-alt
                    p.info__publication-date--text Dec 19, 2013
    li.standard-post.-second._item.illustration(data-category="illustration")
        ._item
            .standard-post--wrapper-inner
                img.standard-post__img(src="./img/blog-standard-post-second.png", alt="Image")
            a.standard-post__description(href="#")
                h6.standard-post__description--title Standard post format
                p.standard-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                ul.info.standard-post__description--info
                    li._comments
                        i.info__comments--icon.fas.fa-comment
                        p.info__comments--text 3 comments
                    li._publication-date
                        i.info__publication-date--icon.far.fa-calendar-alt
                        p.info__publication-date--text Dec 19, 2013
    li.standard-post.-first._item.illustration(data-category="illustration")
        ._item
            .standard-post--wrapper-inner
                img.standard-post__img(src="./img/blog-standard-post-first.png", alt="Image")
            a.standard-post__description(href="#")
                h6.standard-post__description--title Standard post format
                p.standard-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                ul.info.standard-post__description--info
                    li._comments
                        i.info__comments--icon.fas.fa-comment
                        p.info__comments--text 3 comments
                    li._publication-date
                        i.info__publication-date--icon.far.fa-calendar-alt
                        p.info__publication-date--text Dec 19, 2013
    li.standard-post.-third._item.illustration(data-category="illustration")
        ._item
            .standard-post--wrapper-inner
                img.standard-post__img(src="./img/blog-standard-post-third.png", alt="Image")
            a.standard-post__description(href="#")
                h6.standard-post__description--title Standard post format
                p.standard-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                ul.info.standard-post__description--info
                    li._comments
                        i.info__comments--icon.fas.fa-comment
                        p.info__comments--text 3 comments
                    li._publication-date
                        i.info__publication-date--icon.far.fa-calendar-alt
                        p.info__publication-date--text Dec 19, 2013
    li.reference-post.-second._item.brochures(data-category=".brochures")
        h6._title Another Post where you can put a link to a specific website
        a._link http://www.themeforest.net
    li.standard-post.-fourth._item.illustration(data-category="illustration")
        ._item
            .standard-post--wrapper-inner
                img.standard-post__img(src="./img/blog-standard-post-fourth.png", alt="Image")
            a.standard-post__description(href="#")
                h6.standard-post__description--title Standard post format
                p.standard-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                ul.info.standard-post__description--info
                    li._comments
                        i.info__comments--icon.fas.fa-comment
                        p.info__comments--text 3 comments
                    li._publication-date
                        i.info__publication-date--icon.far.fa-calendar-alt
                        p.info__publication-date--text Dec 19, 2013
    li.aside-post.-first._item.brochures(data-category=".brochures")
        a._link(href="#")
            h4._title Aside Post Format
            p._text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
    li.video-post.-second._item.web-design(data-category="web-design")
        iframe._player(width="294px", height="210px", src="https://www.youtube-nocookie.com/embed/bHQqvYy5KYo", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        a._description(href="#")
            h6.video-post__description--title Self-hosted video post
            p.video-post__description--text A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
            ul.info.video-post__description--info
                li._comments
                    i.info__comments--icon.fas.fa-comment
                    p.info__comments--text 3 comments
                li._publication-date
                    i.info__publication-date--icon.far.fa-calendar-alt
                    p.info__publication-date--text Dec 19, 2013